{{>head}}
{{>header}}
<div class = "container-full-width">	
	<div id="home" >

		<div id="myCarousel " class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/hollywood.jpg" alt="Los Angeles" style="width: 100%;">
					<div class="carousel-caption">
						<h3>Los Angeles</h3>
						<p>LA is always so much fun!</p>
					</div>
				</div>

				<div class="item">
					<img src="images/chicago-pic.jpeg" alt="Chicago" style="width: 100%;">
					<div class="carousel-caption">
						<h3>Chicago</h3>
						<p>Thank you, Chicago!</p>
					</div>
				</div>

				<div class="item">
					<img src="images/ny-city.jpg" alt="New york" style="width: 100%;">

					<div class="carousel-caption">
						<h3>New York</h3>
						<p>We love the Big Apple!</p>
					</div>
				</div>
			</div>

			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel"
				data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right"></span> <span
				class="sr-only">Next</span>
			</a>

		</div>
		 
	</div>


	<div id="band"  style="background-color:white;padding-bottom:50px;padding-top:50px">
		 <div class="row"  style = "padding-bottom:50px">
		
			<div class = "col-md-10 col-md-offset-1">
		<h4 class="text-center">THE BAND</h4>
		<p class="text-center">
			<small>We love music!</small><br> We have created a fictional
			band website. Lorem ipsum dolor sit amet, consectetur adipiscing
			elit, sed do eiusmod tempor incididunt ut labore et dolore magna
			aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
			laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
			dolor in reprehenderit in voluptate velit esse cillum dolore eu
			fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est
			laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt
			ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
			nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
		</p>
		<br> <br>
		
			
				<div class="col-xs-4 ">
					<p class="text-center">
						<b>Name</b><br> <br> <img src="images/bandmember.jpg"
							class="img-circle person" alt="member" width="255" height="255">
					</p>
				</div>
				<div class="col-xs-4">
					<p class="text-center">
						<b>Name</b><br> <br> <img src="images/bandmember.jpg"
							class="img-circle person" alt="member" width="255" height="255">
					</p>
				</div>
				<div class="col-xs-4">
					<p class="text-center">
						<b>Name</b><br> <br> <img src="images/bandmember.jpg"
							class="img-circle person" alt="member" width="255" height="255">
					</p>
				</div>
			</div>
			
		</div>
	</div>

		{{#if login}}
<div id = "tour" style="background-color:{{bgcolor}};">
{{else}}
		<div id = "tour" style="background-color: {{#loggedInUser}}{{bgcolor}}{{/loggedInUser}};">
		
{{/if}}
			<br> <br> <br>
			<div class ="row">
			<div class = "col-md-10 col-md-offset-1">
			<h4 class="text-center">T O U R &nbsp;&nbsp;&nbsp; D A T E S</h4>
			<br>
			<p class="text-center">
				Lorem ipsum we'll play you some music.<br> Remember to book
				your tickets!
			</p>
			<br> <br> <br>
			
			<ul class="list-group">
				<li class="list-group-item">September <span
					class="label label-danger">Sold Out!</span></li>
				<li class="list-group-item">October <span
					class="label label-danger">Sold Out!</span></li>
				<li class="list-group-item">November <span class="badge">3</span></li>
			</ul>
			<div class="row">

				<div class="col-xs-4">
					<p class="text-center">
						<img src="images/paris.jpg" alt="paris" style="width: 100%;">
					</p>
					<div style="background-color: white;">
						<p class="text-center">
							<strong>Paris</strong><br>
							<button type="button" name="Paris" style="background-color: #A9A9A9;"
								class="btn" data-toggle="modal" data-target="#myModal" onclick="return checkLogin()">Buy
								Tickets</button>
							<br> <br>
						</p>
					</div>
					<br>
				</div>
				<div class="col-xs-4">
					<p class="text-center">
						<img src="images/newyork.jpg" alt="newyork" style="width: 100%;">
					</p>
					<div style="background-color: white;">
						<p class="text-center">
							<strong>New York</strong><br>
							<button type="button" style="background-color: #A9A9A9;"
								class="btn" data-toggle="modal" data-target="#myModal" onclick="return checkLogin()">Buy
								Tickets</button>
							<br> <br>
						</p>
					</div>
					<br>
				</div>
				<div class="col-xs-4" style="margin-bottom: 80px;">
					<p class="text-center">
						<img src="images/sanfran.jpg" alt="sanfran" style="width: 100%;">
					</p>
					<div style="background-color: white;">
						<p class="text-center">
							<strong>San Francisco</strong><br>
							<button type="button" style="background-color: #A9A9A9;"
								class="btn" data-target="#myModal" data-toggle="modal"  onclick="return checkLogin()">Buy
								Tickets</button>
							<br> <br>
						</p>
					</div>
					<br>
				</div>
				</div>
		</div>
		</div>
		
			</div>
			<!-- Modal -->
			<div class = "container">
			<div class="modal fade" id="myModal" role="dialog" style="z-index: 100001 !important;">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header" style="background-color: #323232;">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h1 class="modal-title text-center" style="font-size: 16">Tickets</h1>
							<br>
						</div>
						<div class="modal-body" style="background-color: white;">
							<br>
							<form action="bookpassenger" method="post">
							<input type="hidden" id= "id" name="id" value = {{id}}>
								<div class="form-group">
									<label for="text">Name</label> <input type="text"
										class="form-control" placeholder="Enter Name" name="name">
								</div>
								<div class="form-group ">
									<label for="text"> Tickets, $23 per person</label> <input
										type="number" class="form-control" value="1" min="1" name="tickets">
								</div>
								<div class="form-group ">
									<label for="text"> Place</label> <input
										type="text" class="form-control" name="place" placeholder="Where do you want to go">
								</div>
								
									<label for="text">Travel Date</label>
									<div class="form-group ">
									<div class="col-sm-6">
									<div class="date_picker input-group date">
										<input type="text" id="date" name="date" class="form-control"
											placeholder="DD/MM/YYYY"> <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>								
									</div>
									<div class="col-sm-6">
									
									<div class="datetime_picker input-group date" >
										<input type="text"  id="time" name="time" class="form-control"
											placeholder="hh:mm"> <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-time"></span>
										</span>
									</div>
								</div>
								
								</div>
								<div class="form-group input-append spinner"
									data-trigger="spinner">
									<label for="email">Send To</label> <input type="email"
										class="form-control " id="email" placeholder="Enter Email"
										name="email">
								</div>
								<button type="submit" class="btn btn-block">Pay</button>
							</form>
						</div>
						<div class="modal-footer">
							<p class=text-left>
								<button type="button" class="btn "
									style="background-color: black;color:white" data-dismiss="modal">Cancel</button>
							</p>
						</div>
					</div>
				
		</div>
	</div>
	</div>
		<div id = "contact" style="background-color: white;">
			<br> <br> <br>
			<div class ="row">
			<div class = "col-md-10 col-md-offset-1">
			<h4 class="text-center">
				<strong>C o n t a c t</strong>
			</h4>
			<br>
			<p class="text-center">We love fans</p>
			<br>
			<div class="col-xs-4">
				<p class="text-left">Fan? Drop a note.</p>

				<p class="text-left">
					<i class="glyphicon glyphicon-map-marker"></i>Chicago, US
				</p>
				<p class="text-left">
					<i class=" glyphicon glyphicon-phone"></i>Phone: +00 1515151515
				</p>

				<p class="text-left">
					<i class="glyphicon glyphicon-envelope"></i>Email: mail@mail.com
				</p>

			</div>
			<div class="col-xs-8">

				<form class="form-inline" action="/action_page.php">
					<div class="form-group">
						<input type="text" class="form-control input-lg"
							placeholder="Name">
					</div>
					<div class="form-group">
						<input type="email" class="form-control input-lg" id="email"
							placeholder="Email" name="email">
					</div>
				</form>
				<br> <br>
				<div>
					<form class="form-horizontal">
						<div class="form-group">

							<textarea class="form-control " rows="5" id="comment"
								placeholder="Comment"></textarea>
						</div>
						<p class="text-right">
							<button type="submit" class="btn"
								style="background-color: #A9A9A9;">Send</button>
						</p>
					</form>
				</div>
			</div>
			<br> <br>
			<h4 class="text-center">
				<strong>From The Blog</strong>
			</h4>
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#menu">Mike</a></li>
				<li><a data-toggle="tab" href="#menu1">Chandler</a></li>
				<li><a data-toggle="tab" href="#menu2">Peter</a></li>

			</ul>

			<div class="tab-content">
				<div id="menu" class="tab-pane fade in active">
					<h3>Mike Ross, Manager</h3>
					<p>Man, we've been on the road for some time now. Looking
						forward to lorem ipsum.</p>
				</div>
				<div id="menu1" class="tab-pane fade">
					<h3>Chandler Bing, Guitarist</h3>
					<p>Always a pleasure people! Hope you enjoyed it as much as I
						did. Could I BE.. any more pleased?</p>
				</div>
				<div id="menu2" class="tab-pane fade">
					<h3>Peter Griffin, Bass player</h3>
					<p>I mean, sometimes I enjoy the show, but other times I enjoy
						other things.</p>
				</div>
				<br> <br>
			</div>
		</div>
	</div>
	<div class="container" id="googleMap" style="width:100%;height:400px;"></div>
	</div>
	
</div>

{{>footer}}


<script>

function myMap() {
var mapProp= {
    center:new google.maps.LatLng(27.212726,77.958716),
    zoom:5,
};
var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:mapProp.center});
  marker.setMap(map);
 var infowindow = new google.maps.InfoWindow({
    content: "<address>  <strong>GFN Dselva Infotech</strong><br> Chaudhary complex, First floor, Opp Kamayani Hospital, National Highway 2, Bain Bazar<br>  Sikandara - Agra, 282006<br>  <abbr title='Phone'>M:</abbr> +91 9876543210</address><address>  </address>"
  });
  google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
  infowindow.open(map,marker);
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUhqzrxW91XADieV81_dO8vT46c4G8K5E&callback=myMap">
</script>
{{>end}}
