{{>head}}
{{>header}}
<p style='margin-top:80px;margin-left:20px'>{{message}}</p>
{{#if profile}}
<p style='margin-top:80px;margin-left:20px'>Hello, {{#loggedInUser}}{{name}}{{/loggedInUser}} Welcome to profile</p>
{{/if}}
{{>footer}}
{{>end}}