{{>head}}
{{>header}}

<p style="margin-top:80px">Welcome {{#loggedInUser}}{{name}}{{/loggedInUser}}</p>
<div class="row">
<div class="col-md-6" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<div class="col-md-6" id="piecontainer" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto margin-top:20px"></div>
</div>
{{>footer}}

<script>
 $(document).ready(function(response){
 var request = $.ajax({
	url: "gethighcharts",
	method: "POST",
	
	dataType: "json"	
	 });
  request.done(function(response) {
   console.log( "success ", response );
   
	 Highcharts.chart('piecontainer', response.highchart);
	// var func = eval(response.stackedChart.tooltip.formatter);
// console.log(func);
	//JSON.parse(response.stackedChart.tooltip.formatter)
	//window[response.stackedChart.tooltip.formatter];
	// console.log(response.stackedChart.tooltip.formatter);
	 Highcharts.chart('container', response.stackedChart);
	 
	})
  request.fail(function(response) {
    console.log( "error ", response );
  })
  request.always(function(response) {
    console.log( "complete ", response );
	
  });
 
});

</script>

{{>end}}