{{>head}}
{{>header}}
<div class= "row" style="margin-top:100px;">
<div class="col-md-8 col-md-offset-2">
<label>Change Theme Settings</label>
<hr>
<div>
<p class="text-center">
Change Color <img src="images/edit.jpg" alt="edit" style="width: 10%;">
</p>
</div>
</div>
</div>
{{>footer}}
{{>end}}