<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app >
<welcome-file-list>
	<welcome-file>home</welcome-file>

</welcome-file-list>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>DBConnection</servlet-name>
		<display-name>DBConnection</display-name>
		<description></description>
		<servlet-class>webProject1.requests.DBConnection</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HandleBars</servlet-name>
		<display-name>HandleBars</display-name>
		<description></description>
		<servlet-class>com.surbhi.webProject1.template.HandleBars</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Calls</servlet-name>
		<display-name>Calls</display-name>
		<description></description>
		<servlet-class>com.surbhi.webProject1.requests.Calls</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServerRestart</servlet-name>
		<display-name>ServerRestart</display-name>
		<description></description>
		<servlet-class>com.surbhi.webProject1.tomcat.ServerRestart</servlet-class>
	</servlet>
	<filter>
    <filter-name>Calls</filter-name>
    <filter-class>com.surbhi.webProject1.requests.Calls</filter-class>
</filter>
	<servlet-mapping>
		<servlet-name>DBConnection</servlet-name>
		<url-pattern>/DBConnection</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HandleBars</servlet-name>
		<url-pattern>/handleBars</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Calls</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServerRestart</servlet-name>
		<url-pattern>/ServerRestart</url-pattern>
	</servlet-mapping>
	<filter-mapping>
    <filter-name>Calls</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>
